.warning{color: red
}
h1 {color: blue}
p{color: gold;
font-size: 30px}
div id {color: greenyellow}

div class{color:blue}
em{color: red;text-align: right}
h2{color:blue}
h3{color:greenyellow}
h4{color: green}
i {color: blue;
font-size: 20px}
a{color: yellow}
center{color: green;
font-size: 20px}